html, body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #32b67a;
}
.card-сinema {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: Arial;
}
.card-сinema__title {
  color: #fff;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  line-height: 0.5;
  text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-сinema__title span {
  font-size: 36px;
}
.card-сinema__preview {
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
}

.card-сinema__loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-сinema__poster {
  width: 280px;
  height: 400px;
  position: relative;
  margin-bottom: 25px;
}

.button {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  background-color: #f4c7ee;
  color: #008fd3;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: box-shadow 0.15s ease-in-out;
}
.button:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button:active {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.info {
  display: flex;
}
.info__poster {
  width: 400px;
}
.info__content {
  width: 450px;
  padding-left: 50px;
}
.info__poster img  {
  width: 100%;
}

.cinemas {
  width: 100%;
}

